html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}

.modal {
  position: absolute;
  width: 16rem;
  height: 10rem;
  border: 2px solid black;
  background: white;
  display: none;
  transition: border 3s ease-in; 
}

.modal.hide {
  border: 1px solid green;
  transition: border 3s ease-in;
}

.modal.show {
  border: 4px solid red;
  display: block;
  transform: translateY(100%);
  transition: border 3s ease-in;
}

#head-right {
  width: 8em;
}

#head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-book {
  margin-left: 15em;
  margin-right: 15em;
}

#main {
  display: flex;
  flex-direction: column;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#shelves {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
}

.spine {
  width: 5em;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: .5em;
  
}

.read {
  border: 2px solid orangered;
}

.first-style {
  color: gold;
  background-color: rgb(4, 65, 4);
}

.second-style {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: gold;
  background-color: rgb(6, 7, 73);
}

.third-style {
  font-family: 'Times New Roman', Times, serif;
  color: gold;
  background-color: rgb(65, 4, 19);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

